// | -------------------------------------------------------------
// | Animations
// | -------------------------------------------------------------

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes float {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 30px, 0);
    }
}
